*{
    margin: 0;
    font-family:'Open Sans',  sans-serif;
}
.header{
    background-image: url(images/banner/banner1.png);
    background-repeat:no-repeat;
    background-size:cover;
    height:660px;
}
.banner{
    padding-top: 142px;
    padding-bottom: 428px;
    padding-left: 845px;
    padding-right: 230px;
    font-weight: 700;
    font-size: 35px;
    text-align: right;
    color: #151414;
}
.banner-description{
    height: 78px;
    left: 876px;
    top: 468px;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: right;
    color: #444343;
}

.btn-primary{
    background-color: coral;
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    width: 160px;
    height: 64px;
    color: #FFFFFF;
    border: 0;
    border-radius: 5px;
    margin-top: 30px;

}
/* styles for failure periods */
.failure-period{
    display: flex;
    justify-content: center;

}
.person{
    width: 569px;
    height: 723.3px;
    left: 206px;
    top: 939px;
    background: url(ff);
    margin-top: 130px;

  
}
.failures-list{
width: 416px;
height: 400px;
margin-top: 369px;
}
.list-title{
    width: 288px;
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    color: #151414;
    margin-bottom: 24px;
    margin-left: 87px;
}
.list-description{
    width: 416px;
    height: 104px;
    font-weight: 400;
    font-size: 16px;
    color: #444343;
    margin-left: 87px;
}
.list-style{
    width: 416px;
    height: 104px;
    font-weight: 400;
    font-size: 16px;
    color: #444343; 
    margin-left: 47px;
}

/* convert bullet point to tikmark */
ul{
    list-style: none;
    align-items: first baseline;
    
}
  
ul li:before{
    content: '✓ ';
    color: green;
  }
  /* styles for plans section */
.plans{
    text-align: center;
    margin-top: 130px;
    margin-left: 230px;
    margin-right: 230px;
    
    color: #151414;


}
.plans-header{
    font-size: 40px;
    color: #151414;
    margin-bottom: 50px;
}
.plans-details{
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-top: 20px;
    text-align: center;
}
/* message styles */
.message{
    margin-top: 124px;
    margin-left:230px;
    margin-right: 230px;
    background: url(images/gradient3.png),url(images/watch.png);
    border-radius: 8px;
    background-repeat: no-repeat;
    font-size:40px;
    height: 300px;
   
}
.positive-mind{
    width: 670px;
    left: 294px;
    top: 2281.26px;
    margin-top: 69px;
    margin-bottom: 69px;
    margin-left: 64px;
    
}
.mindset-btn-primary{
    background-color: white;
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    width: 160px;
    height: 64px;
    color: chocolate;
    border: 0;
    border-radius: 5px;
    margin-top: 30px;
}
.career{
    text-align: center;
    margin-top:130px;
}
.my-skills{
    display: flex;
    gap:50px;
    width: 1141px;
    margin-left: 350px;
    
}
.skills{
    margin-top: 20px;
    
}
.skill-head{
    margin-top: 20px;

}
.career-focuse-description{
    width: 670px;
    padding:40px 430px;
    
}
.skill-description{
    width: 181px;
    text-align: center;
}
/* styles for contact */
.contact-details{
    background:#151414;
    margin-top: 130px;
    display: flex;
    gap: 331px;

}
.contact-header{
width: 148px;
height: 53px;
left: 230px;
top: 2776.3px;
font-weight: 700;
font-size: 45px;
line-height: 53px;
color: #F8F8F8;
}
.contact{
padding-top: 130px;
padding-left: 230px;
padding-right: 85px;
padding-bottom: 130px;

}
.contact-description{
    margin-top: 16px;
    width: 485px;
    height: 78px;
    left: 230px;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #FFFFFF;

}
.contact-method{
    margin-top: 24px;
    width: 186px;
    height: 146px;

}
.phone-number{
width: 286px;
height: 26px;
font-weight: 400;
font-size: 16px;
color: #FFFFFF;

}
.email-address{
width: 186px;
height: 26px;
font-weight: 400;
font-size: 16px;
color: #FFFFFF;
border: 0;
}
.form-design{
width: 146px;
height: 21px;
font-weight: 400;
font-size: 18px;
color: #FFFFFF;
}
.social-networking{
    margin-top: 32px;
    width: 175px;
    height: 46px;
    direction: none; 
}
.subscrib{
    margin-top: 130px;
    width: 325px;
    height: 204px;
}
.subscrib-header{
width: 123px;
height: 29px;

font-weight: 600;
font-size: 25px;
line-height: 29px;
color: #FFFFFF;
}
.form-design{
box-sizing: border-box;
width: 325px;
height: 64px;
border: 1px solid #FFFFFF;
border-radius: 8px;
margin-top: 31px;
}
.email-address-design{
    margin-top: 22px;
    margin-left: 15px;
    margin-right: 130px;
    margin-bottom: 22px;
    border: 0;
    background: none;
    color: #FFFFFF;
    
    }

